body {
  background-color: #1b1b1b;
}

#pohja {
  position: absolute;
  background-color: #2d2d2d;
  width: fit-content;
  height: fit-content;
  padding: 6px 80px 10px 10px;
  border: 5px solid black;
  left: calc(50% - 5px);
  transform: translateX(-50%) translateY(-50%);
  top: calc(50% - 40px);
  border-radius: 50px 0px 0px 50px;
  box-shadow: 9px 9px #000000eb;
}

.rivi {
  position: relative;
  width: fit-content;
  min-width: 100px;
  height: fit-content;
  background-color: #292929;
  display: flex;
  padding: 5px 5px 5px 5px;
  border: 5px solid black;
  margin-top: 10px;
  border-radius: 48px;
  box-shadow: inset 0 0 20px black, 5px 5px #000000bf;
}

.eiValittu {
  background-color: #151515;
  pointer-events: none;
}

.vari {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  border: 2px solid black;
  margin: 0px 5px 0px 5px;
  box-shadow: inset 0 0 20px #000000b3, 3px 3px #00000096;
  transition: .2s;
  cursor: pointer;
}

.vari:after {
  position: absolute;
  content: "";
  width: 52px;
  height: 52px;
  top: -1px;
  left: -1px;
  border-radius: 50px;
  transition: .15s;
}

.vari:hover:after {
  /* background-color: black; */
  box-shadow: inset 0 0 0px 9px #00000073;
}

.valittu {
  transform: scale(1.05);
}

.valittu:after {
  background-color: rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 0 0px 19px #00000091;
}

.valittu:hover:after {
  background-color: rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 0 0px 19px #00000091;
}

.arvausBox {
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(100% + 15px);
  background-color: #909090;
  border: 5px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  top: 2px;
  box-shadow: inset 0 0 20px black, 5px 5px #00000094;
}

.eiValittu .arvausBox {
  background-color: #191919;
}

.arvausW {
  position: relative;
  width: 18px;
  height: 18px;
  margin: auto;
  background-color: white;
}

.arvausB {
  position: relative;
  width: 18px;
  height: 18px;
  margin: auto;
  background-color: black;
}

.variValinta {
  position: absolute;
  width: calc(100% - 71px);
  height: 50px;
  background-color: #252525;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  border: 5px solid black;
  display: flex;
  border-radius: 50px 0px 50px 50px;
  box-shadow: inset 0 0 20px black, 5px 5px #00000096;
}

.variValinta > div {
  position: relative;
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50px 0px 50px 50px;
  cursor: pointer;
}

.variValinta > div::after {
  position: absolute;
  content: "";
  width: 42px;
  height: 42px;
  top: -1px;
  border-radius: 50px 0px 50px 50px;
  left: -1px;
  box-shadow: inset 0 0 0px 0px black;
  transition: .15s;
}

.variValinta > div:hover:after {
  background-color: rgb(0 0 0 / 20%);
  box-shadow: inset 0 0 9px 0px black;
}

.sininen {
  background-color: #0054ff;
}

.vihree {
  background-color: #2cff00;
}

.keltanen {
  background-color: yellow;
}

.oranssi {
  background-color: rgb(130 59 22);
}

.punanen {
  background-color: red;
}

.ruskea {
  background-color: rebeccapurple
}

div.variJoKaytossa {
  border: 5px solid #00000054;
  box-sizing: border-box;
  box-shadow: 0px 0px black;
}

div.variJoKaytossa::after {
  position: absolute;
  content: "";
  width: 42px;
  height: 42px;
  top: -6px;
  left: -6px;
  border-radius: 50px 0px 50px 50px;
  box-shadow: inset 0 0 0px 0px black;
  transition: .15s;
}
div.variJoKaytossa:hover:after {
  background-color: rgb(0 0 0 / 20%);
  box-shadow: inset 0 0 9px 0px black;
}


.eiValittu .vari {
  background-color: #2f2f2f;
}

.pelaaNappi {
  position: absolute;
  width: 150px;
  height: 50px;
  font-size: 25px;
  left: 50%;
  top: calc(50% + 270px);
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  border: 5px solid black;
  border-radius: 50px 0px;
  box-shadow: 5px 5px #0000007d;
  background-color: #0c0c0c;
  color: white;
  transition: .25s;
  opacity: 1;
}
.eiVapaana {
  opacity: .3;
}

.pelaaNappi:hover {
  transform: translateX(-50%) translateY(-50%) scale(1.02);
  background-color: #1d1d1d;
  border: 5px solid #151515;
}

.eiVapaana:hover {
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 5px 5px #0000007d;
  background-color: #0c0c0c;
}


#voitto {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  left: 0px;
  top: 0px;
}

.voittoBox {
  position: absolute;
  width: 400px;
  height: 250px;
  background-color: rgb(216 216 216);
  left: 50%;
  top: calc(50%);
  transform: translateX(-50%) translateY(-50%);
  border: 5px solid black;
  box-shadow: inset 0 0 64px black;
}
.voittoBox > p {
  position: absolute;
  color: #efff00;
  font-family: impact;
  font-size: 78px;
  width: 100%;
  font-weight: 1000;
  text-align: center;
  top: -64px;
  line-height: .8;
  text-shadow: 4px 4px #000000c2;
}

.voittoBox > button {
  position: absolute;
  width: 260px;
  height: 75px;
  font-size: 30px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  background-color: #00e603;
  border: 5px solid #000000db;
  color: white;
  box-sizing: border-box;
  font-weight: 900;
  white-space: nowrap;
  text-align: center;
  box-shadow: inset 0 0 35px black;
  text-shadow: 3px 3px black;
  transition: .2s;
}
.voittoBox > button:hover {
  background-color: #24ff28;
  border: 5px solid #0000003b;
}




#havio {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  left: 0px;
  top: 0px;
}

.havioBox {
  position: absolute;
  width: 400px;
  height: 250px;
  background-color: rgb(216 216 216);
  left: 50%;
  top: calc(50%);
  transform: translateX(-50%) translateY(-50%);
  border: 5px solid black;
  box-shadow: inset 0 0 64px black;
}
.havioBox > p {
  position: absolute;
  color: #ff0000;
  font-family: impact;
  font-size: 70px;
  width: 100%;
  font-weight: 1000;
  text-align: center;
  top: -53px;
  line-height: .9;
  text-shadow: 4px 4px #000000c2;
}

.havioBox > button {
  position: absolute;
  width: 300px;
  height: 75px;
  font-size: 30px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  background-color: #e60000;
  border: 5px solid #000000db;
  color: white;
  box-sizing: border-box;
  font-weight: 900;
  white-space: nowrap;
  text-align: center;
  box-shadow: inset 0 0 35px black;
  text-shadow: 3px 3px black;
  transition: .2s;
}
.havioBox > button:hover {
  background-color: #ff2424;
  border: 5px solid #0000003b;
}

/* =========================
=========== MEDIA ========== 
========================= */

@media only screen and (max-width: 415px) {
  .vari {
    margin: 0px;
  }

  .voittoBox {
    transform: translateX(-50%) translateY(-50%) scale(.8);
  }

  .havioBox {
    transform: translateX(-50%) translateY(-50%) scale(.8);
  }
  
  @media only screen and (max-height: 615px) {
    #pohja {
      top: 0px;
      transform: translateX(-50%);
    }
    .pelaaNappi {
      top: unset;
      bottom: 0px;
      transform: translateX(-50%);
    }
    .rivi {
      margin-top: 5px;
      padding: 2px;
    }
  }

  @media only screen and (max-height: 530px) {
    #pohja {
      padding: 0px 80px 0px 10px;
    }
    .rivi {
      margin-top: -5px;
      padding: 2px;
    }
  }
}

@media only screen and (min-width: 415px) {
  @media only screen and (max-height: 615px) {
    #pohja {
      top: 0px;
      transform: translateX(-50%);
    }
    .pelaaNappi {
      top: unset;
      bottom: 0px;
      transform: translateX(-50%);
    }
    .rivi {
      margin-top: 5px;
      padding: 2px;
    }
  }

  @media only screen and (max-height: 530px) {
    #pohja {
      padding: 0px 80px 0px 10px;
    }
    .rivi {
      margin-top: -5px;
      padding: 2px;
    }
  }
}
